<!--<h1>Welcome {{vm.userName}}</h1>-->

<div class="mainscreen-container">
    <div class="logo">
        <img src="client/assets/serverless_framework_fire.gif">
    </div>

    <div class="version-desc">
        <span>Serverless GUI</span>
        <span>Version 1.1.02</span>
    </div>

    <div class="project-options">
        <ul>
            <li>
                <img src="client/assets/newfolder.png">
                create new poroject</li>
            <li>
                <img src="client/assets/openfolder.png">
                open
            </li>
            <li>
                <img src="client/assets/existing.png">
                create new project from existing files
            </li>
            <li>
                <img src="client/assets/setting.png">
                configure aws developer options
            </li>
        </ul>
    </div>
</div>