<!--<h1>Welcome {{vm.userName}}</h1>-->

<div class="mainscreen-container">
    <div class="logo">
        <img src="client/assets/serverless_framework_fire.gif">
    </div>

    <div class="version-desc">
        <span>Serverless GUI</span>
        <span>Version 1.1.02</span>
    </div>

    <div class="project-options">
        <ul>
            <li>
                <img src="client/assets/newfolder.png">
                <a href="javascript:void(0)">create new poroject </a>
            </li>
            <li>
                <img src="client/assets/openfolder.png">
                <a href="javascript:void(0)">open</a>
            </li>
            <li>
                <img src="client/assets/existing.png">
                <a href="javascript:void(0)">create new project from existing files</a>
            </li>
            <li>
                <img src="client/assets/setting.png">
                <a href="javascript:void(0)">configure aws developer options</a>
            </li>
        </ul>
    </div>
</div>